<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>AllInOneAccessibility\AllInOneAccessibility</fullnamespace>
    <descriptive locale="en_US">
        <title>All in One Accessibility</title>
        <subtitle>Module All in One Accessibility for Thelia</subtitle>
        <description>This module integrate all in one accessibility js api and all in one accessibility js plugin for Thelia</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>All in One Accessibility</title>
        <subtitle>Module All in One Accessibility pour Thelia</subtitle>
        <description>Ce module integre les fichier de la all in one accessibility api ainsi qu'un pulgin de creation de carte pour Thelia</description>
    </descriptive>
    <!-- <logo></logo> -->
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.9.0</version>
    <author>
        <name>Skynet Technologies</name>
        <email>hello@skynettechnologies.com </email>
    </author>
    <type>classic</type>
    <thelia>2.5.5</thelia>
    <stability>other</stability>

</module>
